<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de profesores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button [routerLink]="'/profesor-edit'" expand="block" >
    Nuevo
  </ion-button>

  
  <ion-grid>
    <ion-row>
      <ion-col size="2" class="ion-text-center"><b>Nombre</b></ion-col>
      <ion-col size="2" class="ion-text-center"><b>Apellido</b></ion-col>
      <ion-col size="3" class="ion-text-center"><b>Ci</b></ion-col>
      <ion-col size="3" class="ion-text-center"><b>Registro</b></ion-col>
      <ion-col size="2" class="ion-text-center"><b>Acciones</b></ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item *ngFor="let profesor of profesoresArray">
      <ion-grid>
        <ion-row>
          <ion-col size="2" class="ion-text-center ion-align-self-center"
            >{{ profesor.nombre }}</ion-col
          >

          <ion-col size="2" class="ion-text-center ion-align-self-center"
            >{{ profesor.apellido }}</ion-col
          >
          <ion-col size="3" class="ion-text-center ion-align-self-center"
            >{{ profesor.documento }}</ion-col
          >
          <ion-col size="3" class="ion-text-center ion-align-self-center"
            >{{ profesor.registro }}</ion-col
          >

          <ion-col size="2" class="custom-button-container" >
            <ion-button [routerLink]="['/profesor-edit', profesor.id]" ><ion-icon name="create"></ion-icon></ion-button> 
            <ion-button (click)="noTanRapido()"><ion-icon name="trash"></ion-icon></ion-button> 
          </ion-col >
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>